/* id */
#contents {
	background-color: #FFF;
}

#img_box {
	text-align: center;
	max-height: 720px;
}

#img_box>img {
	max-width: 720px;
	max-height: 720px;
}

#post_data {
	text-align: right;
}

#title {
	margin: 5px 0;
	padding: 10px 5px;
	background-color: cornflowerblue;
}

#article {
	margin: 5px 0 5px 0;
	padding: 5px;
	min-height: 5em;
	overflow: auto;
}

#comment>tr>td {
	vertical-align: middle;
}

#list_preview {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 0px;
}

/* class */
.center {
	text-align: center;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.f_clear {
	clear: both;
}

.a_right {
	text-align: right;
}

.a_left {
	text-align: left;
}

.a_center {
	text-align: center;
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}