/* id */
#contents {
	background-color: #FFF;
}

#img_box {
	text-align: center;
	max-height: 720px;
}

#img_box>img {
	max-width: 720px;
	max-height: 720px;
}

#post_data {
	text-align: right;
}

#title {
	border-left: 10px #000 solid;
	border-bottom: 1px #000 solid;
	padding-left: 5px;
}

#article {
	border: 1px #000 solid;
	border-radius: 10px;
	margin: 5px 0 5px 0;
	min-height: 5em;
}

/* class */
.center {
	text-align: center;
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}